<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>inphonity CC</title>

<link rel="stylesheet" href="{{ url_for('static', filename='estilos/inicio.css') }}">
<link rel="icon" type="image/png" href="/favicon.png">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

</head>

<body>

<header>
    <h1>inphonity</h1>
</header>

<nav class="navbar">

<button class="menu-toggle" onclick="toggleMenu()">☰</button>

<div class="nav-links">

{% if rol == "ejecutivo" %}
<a href="/inicio_cc">Inicio</a>
<a href="/tickets">Historial</a>
<a href="/">Crear interaccion</a> 


{% elif rol == "soporte" %}
<a href="/inicio_cc">Inicio</a>
<a href="/tickets">Historial</a>
<a href="/">Crear ticket</a>
<a href="/registro_interacciones">Registrar interaccion</a>
<a href="/dashboard">Dashboard</a>
<a href="/soporte">Panel Soporte</a>
{% endif %}

<a href="{{ url_for('logout') }}">Cerrar sesión</a>

</div>
</nav>


<div class="contenedor">

<h2 class="titulo">Información Importante del mes</h2>

<section class="slider-container">

<button class="flecha izquierda" onclick="moverSlider(-1)">❮</button>

<div class="slider" id="sliderNoticias">

{% for img in imagenes %}
<img class="slide-img" src="{{ url_for('static', filename='img/' + img) }}">
{% endfor %}

</div>

<button class="flecha derecha" onclick="moverSlider(1)">❯</button>

</section>


<section>

<h2>Seguimiento de clientes</h2>

<div class="table-container">

<table class="tabla-tickets-pendiente">

<thead>
<tr>
<th>ID</th>
<th>Categoría</th>
<th>Cliente</th>
<th>Estatus</th>
<th>Acción</th>
</tr>
</thead>

<tbody>

{% if pendiente %}
{% for t in pendiente %}
<tr>
<td>TT-{{ t.id }}</td>
<td>{{ t.categoria }}</td>
<td>{{ t.cliente_correo }}</td>
<td><span class="estado pendiente">{{ t.estatus }}</span></td>
<td>
<a href="{{ url_for('detalle_ticket', id=t.id) }}" class="boton-ver">Ver</a>
</td>
</tr>
{% endfor %}

{% else %}
<tr>
<td colspan="5" style="text-align:center;padding:20px;">
Sin pendientes
</td>
</tr>
{% endif %}

</tbody>

</table>

</div>
</section>



<section>

<h2>Tickets Abiertos</h2>

<div class="table-container">

<table class="tabla-tickets-abiertos">

<thead>
<tr>
<th>ID</th>
<th>Categoría</th>
<th>Cliente</th>
<th>Estatus</th>
<th>Acción</th>
</tr>
</thead>

<tbody>

{% if abiertos %}
{% for t in abiertos %}
<tr>
<td>TT-{{ t.id }}</td>
<td>{{ t.categoria }}</td>
<td>{{ t.cliente_correo }}</td>
<td><span class="estado abierto">{{ t.estatus }}</span></td>
<td>
<a href="{{ url_for('detalle_ticket', id=t.id) }}" class="boton-ver">Ver</a>
</td>
</tr>
{% endfor %}

{% else %}
<tr>
<td colspan="5" style="text-align:center;padding:20px;">
Sin tickets abiertos
</td>
</tr>
{% endif %}

</tbody>

</table>

</div>
</section>



<section>

<h2>Tickets En Proceso</h2>

<div class="table-container">

<table class="tabla-tickets-proceso">

<thead>
<tr>
<th>ID</th>
<th>Categoría</th>
<th>Cliente</th>
<th>Estatus</th>
<th>Acción</th>
</tr>
</thead>

<tbody>

{% if en_proceso %}
{% for t in en_proceso %}
<tr>
<td>TT-{{ t.id }}</td>
<td>{{ t.categoria }}</td>
<td>{{ t.cliente_correo }}</td>
<td><span class="estado en-proceso">{{ t.estatus }}</span></td>
<td>
<a href="{{ url_for('detalle_ticket', id=t.id) }}" class="boton-ver">Ver</a>
</td>
</tr>
{% endfor %}

{% else %}
<tr>
<td colspan="5" style="text-align:center;padding:20px;">
Sin tickets en proceso
</td>
</tr>
{% endif %}

</tbody>

</table>

</div>
<br>
<h2>Interacciones por Ejecutivos</h2>
</section>



<div class="dashboard-container">

<div class="charts">

<div class="chart-card">



<canvas id="ejecutivoChart"></canvas>

</div>

</div>

</div>

</div>



<script>

const ctxEje = document.getElementById('ejecutivoChart').getContext('2d');

new Chart(ctxEje, {

type:'pie',

data:{
labels:{{ ejecutivos | tojson }},
datasets:[{
data:{{ tickets_por_ejecutivo | tojson }},
backgroundColor:[
'#FF6384',
'#36A2EB',
'#FFCE56',
'#4BC0C0',
'#9966FF',
'#FF9F40',
'#C9CBCF'
]
}]
},

plugins:[ChartDataLabels],

options:{
responsive:true,
maintainAspectRatio:false,
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{weight:"bold",size:16},
formatter:(v)=>v
}
}
}

});



function moverSlider(dir){

const slider=document.getElementById("sliderNoticias");
const slide=slider.querySelector(".slide-img");
const distancia=slide.clientWidth+20;

slider.scrollBy({
left:distancia*dir,
behavior:"smooth"
});

}


function toggleMenu(){
document.querySelector(".nav-links").classList.toggle("show");
}

</script>





<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/notificaciones.js') }}"></script>
</body>
</html>